<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", {title: "Proyect creation"}) %>
</head>
<body>
    <main>
        <form class="loginForm" action="/proyect-create" method="post" enctype="multipart/form-data">
            <h1 class="loginTitle">Create proyect</h1>

            <label for="proyectName">
                <input class="loginInput" type="text" name="proyectName" id="proyectName" placeholder="proyect name" value="<%= locals.oldData && oldData.proyectName ? oldData.proyectName : ""%>">
            </label>

            <label for="proyectLink">
                <input class="loginInput" type="url" name="proyectLink" id="proyectLink" placeholder="proyect link" value="<%= locals.oldData && oldData.proyectLink ? oldData.proyectLink : "" %>">
            </label>

            <label for="githubLink">
                <input class="loginInput" type="url" name="githubLink" id="githubLink" placeholder="Github link" value="<%= locals.oldData && oldData.githubLink ? oldData.githubLink : "" %>">
            </label>

            <label for="proyectImage">
                <input class="loginInput" type="file" name="proyectImage" id="proyectImage">
            </label>

            <% if(locals.errors) { %>
                <div class="loginErrorsContainer">
                    <% if (locals.errors && errors.proyectName) { %>
                        <span class="loginError">
                            <%= errors.proyectName.msg %>
                        </span>
                    <% } %>

                    <% if (locals.errors && errors.proyectImage) { %>
                        <span class="loginError">
                            <%= errors.proyectImage.msg %>
                        </span>
                    <% } %>
                </div>
            <% } %>

            <button class="loginButton" type="submit">Create</button>
        </form>
    </main>
</body>
</html>